<div class="row justify-content-center">
    <div class="col-md-6 border border-secondary rounded px-4 py-4">
        <h5 class="mb-3 border-bottom pb-2">Inicio de Sesión</h5>
        <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label for="txtUsername" class="form-label">Nombre de Usuario</label>
                <input type="text" class="form-control" id="txtUsername" formControlName="txtName" required>
            </div>
            <div class="mb-3">
                <label for="txtPassword" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="txtPassword" formControlName="txtPassword" required>
            </div>
            <button [disabled]="!authForm.valid" type="submit" class="btn btn-primary">Iniciar Sesión</button>
        </form>
    </div>
</div>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </symbol>
</svg>
<div *ngIf="isLoginFailed" class="alert alert-danger d-flex align-items-center mt-4" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
    <div>
      {{ messageError }}
    </div>
</div>