<div class="row justify-content-center">
    <div class="col-md-8 border border-secondary rounded px-4 py-4">
        <h5 *ngIf="!editMode" class="mb-3 border-bottom pb-2">Crear un nuevo Rol</h5>
        <h5 *ngIf="editMode" class="mb-3 border-bottom pb-2">Editar un Rol</h5>
        <form [formGroup]="roleForm">
            <div class="mb-3">
                <label for="txtUsername" class="form-label">Nombre del Rol</label>
                <input formControlName="name" type="text" class="form-control" id="txtUsername" required>
            </div>
            <div class="mb-3">
                <label for="txtPassword" class="form-label">Privilegios</label>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheck1" checked disabled>
                    <label class="form-check-label" for="flexSwitchCheck1">Lectura</label>
                </div>
                <div class="form-check form-switch">
                    <input formControlName="privilegeEdit" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheck2">
                    <label class="form-check-label" for="flexSwitchCheck2">Edición</label>
                </div>
                <div class="form-check form-switch">
                    <input formControlName="privilegeCreate" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheck3">
                    <label class="form-check-label" for="flexSwitchCheck3">Creación</label>
                </div>
            </div>
            <button *ngIf="!editMode" (click)="onSubmitCreate()" type="submit" class="btn btn-primary">Crear</button>
            <button *ngIf="editMode" [disabled]="!roleForm.valid" (click)="updateRoleCom()" type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
</div>




<ng-template #modalMensaje let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">¿Deseas guardar la nueva configuración el rol?</h5>
    </div>
    <div class="modal-body">
        {{ mensaje }}
    </div>
    <div class="modal-footer">
        <button (click)="closeModal()" type="button" class="btn btn-secondary">Cancelar</button>
        <button (click)="confRoleCom()" type="button" class="btn btn-danger">Guardar</button>
    </div>
</ng-template>


<ng-template #modalMensajeErr let-modal>
    <div class="modal-header">
        <h5 class="modal-title text-danger" id="exampleModalLabel">¡Ha sucedido algun error!</h5>
    </div>
    <div class="modal-body">
        {{ mensajeErr }}
    </div>
    <div class="modal-footer">
        <button (click)="closeModal()" type="button" class="btn btn-secondary">Cerrar</button>
    </div>
</ng-template>