<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <img class="bi me-2" width="100" height="55"src="https://basquetrade.spri.eus/wp-content/uploads/2020/10/Minsait-logo-2016-nuevo.png">
      </a>

      <ul *ngIf="isLoggedIn" class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a routerLink="/users" class="nav-link px-2 link-dark">Usuarios</a></li>
        <li><a routerLink="/roles" class="nav-link px-2 link-dark">Roles</a></li>
      </ul>

      <div class="col-md-3 text-end">
        <button *ngIf="!isLoggedIn" type="button" class="btn btn-outline-primary me-2">Iniciar Sesión</button>
        <button *ngIf="isLoggedIn" (click)="onCloseSession()" type="button" class="btn btn-primary">Cerrar Sesión</button>
      </div>
    </header>
</div>