<h3>Listado de Usuarios</h3>
<div class="accordion" id="accordionUsers">
    <div  *ngFor="let user of users; let i = index" class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" attr.data-bs-target="#collapse{{user.id}}" aria-expanded="false" attr.aria-controls="collapse{{user.id}}">
            {{ user.userName }}
        </button>
      </h2>
      <div id="collapse{{user.id}}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionUsers">
        <div class="accordion-body">
            <ul class="list-group list-group-flush">
                <li *ngFor="let role of user.roles" class="list-group-item">{{ role.name }}</li>
            </ul>
        </div>
      </div>
    </div>
</div>

<ng-template #modalMensajeErr let-modal>
  <div class="modal-header">
      <h5 class="modal-title text-danger" id="exampleModalLabel">¡Ha sucedido algun error!</h5>
  </div>
  <div class="modal-body">
      {{ mensajeErr }}
  </div>
  <div class="modal-footer">
      <button (click)="closeModal()" type="button" class="btn btn-secondary">Cerrar</button>
  </div>
</ng-template>