<div class="row mb-2">
    <div class="col-6">
        <h3>Listado de Roles</h3>
    </div>
    <div class="col-6 d-flex justify-content-end">
        <button routerLink="/roles/new" type="button" class="btn btn-success text-white">Crear Rol</button>
    </div>
</div>

<div class="accordion" id="accordionRoles">
    <div *ngFor="let role of roles; let i = index" class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                attr.data-bs-target="#collapse{{role.id}}" aria-expanded="false"
                attr.aria-controls="collapse{{role.id}}">
                {{ role.name }}
            </button>
        </h2>
        <div id="collapse{{role.id}}" class="accordion-collapse collapse" aria-labelledby="headingOne"
            data-bs-parent="#accordionRoles">
            <div class="accordion-body">
                <ul class="list-group list-group-flush">
                    <li *ngFor="let privilege of role.privileges" class="list-group-item">{{ privilege.name }}</li>
                    <li class="list-group-item d-flex justify-content-end mt-2">
                        <button [routerLink]="['/roles/edit', role.id]" type="button" class="btn btn-outline-primary btn-sm mx-3">Editar</button>
                        <button (click)="deleteRoleCom(role.id)" class="btn btn-outline-danger btn-sm">Eliminar</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>



<ng-template #modalMensaje let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">¿Deseas eliminar el rol?</h5>
    </div>
    <div class="modal-body">
        {{ mensaje }}
    </div>
    <div class="modal-footer">
        <button (click)="closeModal()" type="button" class="btn btn-secondary">Cancelar</button>
        <button (click)="confRoleCom()" type="button" class="btn btn-danger">Eliminar</button>
    </div>
</ng-template>


<ng-template #modalMensajeErr let-modal>
    <div class="modal-header">
        <h5 class="modal-title text-danger" id="exampleModalLabel">¡Ha sucedido algun error!</h5>
    </div>
    <div class="modal-body">
        {{ mensajeErr }}
    </div>
    <div class="modal-footer">
        <button (click)="closeModal()" type="button" class="btn btn-secondary">Cerrar</button>
    </div>
</ng-template>